=====================================================
# TUGAS UNTUK ASYNCHRONOUS
=====================================================

## Latihan 1:
Buatlah program yang meminta user untuk memasukkan 4 buah string: "namadepan", "namabelakang", "hobi", "asal"

Susunlah input tersebut menjadi sebuah outpur kalimat menjadi seperti ini :
"Halo nama saya (namadepan) (namabelakang), saya berasal dari (asal) dan hobby saya adalah (hobi)"

Hint: Gunakan metode-metode yang sudah dipelajari dan amati perbedaannya.

In [54]:
def lat1():
   namaDepan = input("Nama depan: ")
   namaBelakang = input("Nama belakang: ")
   asal = input("Asal: ")
   hobi = input("Hobi: ")
   print("Halo nama saya ",namaDepan,namaBelakang,", saya berasal dari ",asal," dan hobby saya adalah ",hobi)

lat1()

Nama depan: Arif
Nama belakang: Rachman
Asal: Jakarta
Hobi: Masak
Halo nama saya  Arif Rachman , saya berasal dari  Jakarta  dan hobby saya adalah  Masak

## Latihan 2:

Skala Richter 
Magnitude Descriptor
Less than 2.0 Micro
2.0 to less than 3.0 Very Minor
3.0 to less than 4.0 Minor
4.0 to less than 5.0 Light
5.0 to less than 6.0 Moderate
6.0 to less than 7.0 Strong
7.0 to less than 8.0 Major
8.0 to less than 10.0 Great
10.0 or more Meteoric

* Buatlah program yang membaca besarnya magnitude dari user dan memberikan keluaran terkait grade dari kekuatan gempa.
* Contoh keluaran :
  **'Gempa berskala 5,5 berkategori Moderat'**

In [55]:
def lat2():
  mag = float(input("Masukkan Skala Gempa: "))
  if(mag<2.0):
    scale = "Micro"
  elif(mag < 3.0):
    scale = "Very minor"
  elif(mag < 4.0):
    scale = "Minor"
  elif(mag < 5.0):
    scale = "Light"
  elif(mag < 6.0):
    scale = "Moderate"
  elif(mag < 7.0):
    scale = "Strong"
  elif(mag < 8.0):
    scale = "Major"
  elif(mag < 10.0):
      scale = "Great"
  else:
      scale = "Meteoric"
  
  return "Gempa berskala " + str(mag) + " berkategori " + scale

lat2()

Masukkan Skala Gempa: 3

'Gempa berskala 3.0 berkategori Minor'

## Latihan 3:
* Buatlah script yang menerima input berupa lima digit angka dari user.</br>
* Pisahkan angka menjadi digit individual. Print secara terpisah dengan separator berupa tiga spasi
* Contoh: Jika user memasukkan 42339, maka hasil print</br> 
4   2   3   3   9</br>
* Asumsikan bahwa user selalu menginput angka dalam panjang yang tepat. 
* Use both the floor division and remainder operations to “pick off ” each digit.

In [56]:
angka = input("Masukkan lima digit angka: ")
angka = [char for char in angka]
p = ""
for char in angka:
  p += char + "   "

print(p)

Masukkan lima digit angka: 76543
7   6   5   4   3

## Latihan 4 :
Konversi derajat celcius ke fahrenheit diatur oleh persamaan berikut :
$F = (\frac{9}{5}) * C + 32$

Gunakan fungsi ini untuk memprint suatu daftar konversi temperatur dari celcius untuk range 0–100.
Gunakan presisi 1 digit.

In [ ]:
suhu = [
    9, 15, 82, 38, 89, 47, 51, 36, 83, 38,
    74, 47, 61, 22, 26, 81, 24, 13, 79, 36,
    63, 58, 29, 93, 75, 94, 14, 66, 3, 15,
    20, 62, 27, 59, 29, 65, 94, 68, 21, 100
]

In [57]:
def ctof(celcius):
  return round(9/5*celcius + 32,1)
fahrenheit = []
print("Celcius \t Fahrenheit")
for s in suhu:
  print(str(s) +" \t\t "+str(ctof(s)))
  fahrenheit.append(ctof(s)) 

#print(fahrenheit)

Celcius 	 Fahrenheit
9 		 48.2
15 		 59.0
82 		 179.6
38 		 100.4
89 		 192.2
47 		 116.6
51 		 123.8
36 		 96.8
83 		 181.4
38 		 100.4
74 		 165.2
47 		 116.6
61 		 141.8
22 		 71.6
26 		 78.8
81 		 177.8
24 		 75.2
13 		 55.4
79 		 174.2
36 		 96.8
63 		 145.4
58 		 136.4
29 		 84.2
93 		 199.4
75 		 167.0
94 		 201.2
14 		 57.2
66 		 150.8
3 		 37.4
15 		 59.0
20 		 68.0
62 		 143.6
27 		 80.6
59 		 138.2
29 		 84.2
65 		 149.0
94 		 201.2
68 		 154.4
21 		 69.8
100 		 212.0

## Latihan 5 :
Pak Joni memiliki rencana untuk membeli sebuah rumah, tetapi sayangnya dia tidak punya banyak uang. Dia berencana untuk membeli tetapi dengan cicilan ke bank saja. Namun, sayangnya lagi-lagi untuk membayar DP pinjaman bankpun ia tidak punya. Oleh karena itu, dia berencana untuk menabung setiap bulan agar bisa membayar DP. Tugas anda : tentukan berapa lama dia harus menabung agar dia bisa membayar cicilan rumah tersebut.
1.	Mintalah pak joni untuk membuat harga perkiraan rumah yang dia inginkan simpan pada variable, total_cost.
2.	Biasanya untuk DP rumah, bank akan mensyaratkan pembayaran DP sebesar 25%, simpan pada variabel portion_down_payment = 0.25.
3.	Tanyakan pak joni berapa uang yang sudah dia punya selama ini yang dicadangkan untuk membayar DP, simpan pada variable current_savings nilai defaultnya boleh anda set 0. 
4.	Asumsikan bahwa pak joni menginvestasikan tabungan dengan bijak, sehingga memperoleh bunga 5 % per tahun. 
5.	Simpan gaji tahunan pak joni dalam variabel annual_salary.
6.	Tanyakan pak Joni persen dari gaji pak joni yang dia sisishkan untuk menabung simpan pada variable portion_saved. Variabel ini berbentuk decimal (contoh 0.1 untuk persentase 10%). 
7.	Pada akhir tiap bulan bulan, tabungan anda akan meningkat sesuai dengan besarnya investasi  ditambah dengan porsi gaji yang ditabungkan (gaji tahunan/ 12).

In [60]:
total_cost =  float(input("Masukkan harga rumah yang diinginkan: "))
portion_down_payment = 0.25
current_savings = float(input("Masukkan uang yang sudah kamu punya: "))
bunga = 0.05 #5% per tahun
annual_salary = float(input("Masukkan gaji tahunan: "))
portion_saved = float(input("Berapa persen gaji yang disisihkan setiap bulan : "))
portion_saved_decimal = portion_saved/100
bulan = 0
bunga_tahunan = 0

DP = total_cost * portion_down_payment
SimpananTiapBulan = (annual_salary/12)*portion_saved_decimal

while current_savings < DP:
  current_savings += SimpananTiapBulan
  print(current_savings)
  if(bulan%12 == 0):
    bunga_tahunan = current_savings * bunga
    current_savings += bunga_tahunan
    #bulan = 1
    #tahun += 1
  bulan += 1



print("Lama menabung: "+str(bulan//12)+" tahun, "+str(bulan%12)+" bulan")

Masukkan harga rumah yang diinginkan: 1000
Masukkan uang yang sudah kamu punya: 100
Masukkan gaji tahunan: 600
Berapa persen gaji yang disisihkan setiap bulan : 50
125.0
156.25
181.25
206.25
231.25
256.25
Lama menabung: 0 tahun, 6 bulan

## Latihan 6:

Berikut adalah potongan opini dari kompas 14 Juni 2022 :</br>
"Big data yang menjadi polemik dua bulan lalu menunjukkan bahwa big data lebih banyak dibahas aspek politiknya, seperti dalam wacana penundaan jadwal pemilu, bukan aspek ekonominya. Padahal kedua aspek ini sama berguna bagi masyarakat yang menjadi konsumen atau juga merangkap produsen potensial, bukan hanya target untuk kepentingan politik."

Pada potongan di atas terdapat beberapa kata stopwords, seperti yang ada di list stopwords.</br>
Tugas anda adalah untuk membuat suatu list baru, yang berisi seluruh kata tanpa ada stopword.

In [61]:
stopwords = ['yang', 'lalu', 'bahwa', 'by', 'lebih', 'seperti', 'bukan', 'ini', 'bagi', 'atau', 
             "hanya", "untuk", "juga"]

In [62]:
words = """Big data yang menjadi polemik dua bulan lalu menunjukkan bahwa big data lebih banyak dibahas aspek politiknya, seperti dalam wacana penundaan jadwal pemilu, bukan aspek ekonominya. Padahal kedua aspek ini sama berguna bagi masyarakat yang menjadi konsumen atau juga merangkap produsen potensial, bukan hanya target untuk kepentingan politik."""

In [78]:
listRes = list(words.split(" "))
new_list = [kata for kata in listRes if kata not in stopwords]
print(new_list)

['Big', 'data', 'menjadi', 'polemik', 'dua', 'bulan', 'menunjukkan', 'big', 'data', 'banyak', 'dibahas', 'aspek', 'politiknya,', 'dalam', 'wacana', 'penundaan', 'jadwal', 'pemilu,', 'aspek', 'ekonominya.', 'Padahal', 'kedua', 'aspek', 'sama', 'berguna', 'masyarakat', 'menjadi', 'konsumen', 'merangkap', 'produsen', 'potensial,', 'target', 'kepentingan', 'politik.']

## Latihan 7

Buatlah suatu dictionary bernama **letter_counts** yang menghitung frekuensi kemunculan dari suatu huruf di dalam string dan berapa kali huruf itu muncul. </br>

**Perhatian:**
Setiap huruf besar atau huruf kecil dalam alphabet yang sama harus dihitung sebagai huruf yang sama

In [76]:
string1 = """There is a tide in the affairs of men, Which taken at the flood, 
leads on to fortune. Omitted, all the voyage of their life is bound in shallows
and in miseries. On such a full sea are we now afloat. 
And we must take the current when it serves, or lose our ventures."""

In [77]:
letter_counts = {}

letters = words.lower()

for letter in letters:
  if letter not in [' ','\n',',','.']:
    letter_counts[letter] = letter_counts.get(letter, 0) + 1
    
# print(letter_counts)
for key,value in letter_counts.items():
  print(key,"=",value)

b = 11
i = 19
g = 10
d = 12
a = 56
t = 12
y = 7
n = 30
m = 11
e = 22
j = 5
p = 14
o = 8
l = 12
k = 18
u = 17
h = 5
w = 3
s = 10
r = 6
c = 1

## Latihan 8
Berikut adalah JSON dari sebuah timestamp cuaca :
Dari data tersebut, buatlah suatu list di dalam list yang berisi jam cuaca, dan cuaca saja di tanggal-tanggal yang cuacanya hujan ringan saja.

In [44]:
weather=[{"jamCuaca":"2022-06-14 00:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"85","tempC":"23","tempF":"73"},
 {"jamCuaca":"2022-06-14 06:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"55","tempC":"33","tempF":"91"},
 {"jamCuaca":"2022-06-14 12:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"85","tempC":"23","tempF":"73"},
 {"jamCuaca":"2022-06-14 18:00:00","kodeCuaca":"3","cuaca":"Berawan","humidity":"90","tempC":"23","tempF":"73"},
 {"jamCuaca":"2022-06-15 00:00:00","kodeCuaca":"1","cuaca":"Cerah Berawan","humidity":"80","tempC":"25","tempF":"77"},
 {"jamCuaca":"2022-06-15 06:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"65","tempC":"32","tempF":"90"},
 {"jamCuaca":"2022-06-15 12:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"80","tempC":"25","tempF":"77"},
 {"jamCuaca":"2022-06-15 18:00:00","kodeCuaca":"3","cuaca":"Berawan","humidity":"90","tempC":"23","tempF":"73"},
 {"jamCuaca":"2022-06-16 00:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"80","tempC":"25","tempF":"77"},
 {"jamCuaca":"2022-06-16 06:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"55","tempC":"32","tempF":"90"},
 {"jamCuaca":"2022-06-16 12:00:00","kodeCuaca":"60","cuaca":"Hujan Ringan","humidity":"80","tempC":"25","tempF":"77"},
 {"jamCuaca":"2022-06-16 18:00:00","kodeCuaca":"3","cuaca":"Berawan","humidity":"90","tempC":"23","tempF":"73"}]

In [53]:
hasil = []
for w in weather:
  if(w['cuaca'] == "Hujan Ringan"):
    hasil.append([w['jamCuaca'],w['cuaca']])  

for h in hasil:
  print(h)

['2022-06-14 00:00:00', 'Hujan Ringan']
['2022-06-14 06:00:00', 'Hujan Ringan']
['2022-06-14 12:00:00', 'Hujan Ringan']
['2022-06-15 06:00:00', 'Hujan Ringan']
['2022-06-15 12:00:00', 'Hujan Ringan']
['2022-06-16 00:00:00', 'Hujan Ringan']
['2022-06-16 06:00:00', 'Hujan Ringan']
['2022-06-16 12:00:00', 'Hujan Ringan']